### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].value_counts())
player_count = pd.DataFrame({"Total Playes" : [total_players]})
player_count

   Total Playes
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#  Calculations to obtain number of unique items, average price, etc.
    
unique_items = len(purchase_data["Item ID"].unique())
unique_items

avg_price = purchase_data["Price"].mean()
avg_price
total_num_purchases = purchase_data["Purchase ID"].count()
total_num_purchases
revenue = purchase_data["Price"].sum()
revenue

# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                "Average Price": [avg_price],
                                "Total Number of Purchases": [total_num_purchases],
                                "Revenue":[revenue]})
summary_df

# give the displayed data cleaner formatting

   Number of Unique Items  Average Price  Total Number of Purchases  Revenue
0                     179       3.050987                        780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group the data Frame by Gender
gender_grouped = purchase_data.groupby("Gender")

#Count the total SN by gender
gender_total = gender_grouped.nunique("SN")
Number_of_players = purchase_data["Gender"].value_counts()

#print(Percentage_of_player)
total_genders = purchase_data["Gender"].value_counts().sum()

#Percentage of players by gender
Perecent_by_gender = (Number_of_players/total_genders)*100
Perecent_by_gender


# Create data frame with obtained values
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_df["Percentage of players"] = Perecent_by_gender
gender_df["Percentage of players"] = gender_df["Percentage of players"].map("{:,.2f}%".format)

new_df = gender_df.rename(columns={"Gender": "Total Count"})

new_df

                       Total Count Percentage of players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

# Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:


# count the total purchase by geder
purchase_count = gender_grouped["Purchase ID"].count()

#average Purchse price by Gender
average_purchase_price = gender_grouped["Price"].mean()

#average purchse total by gender
average_purchase_total = gender_grouped["Price"].sum()

#average purchse total by gender divided by purchase count by unique shoppers
average_purchase_per_person = average_purchase_total/total_genders

#Create a Data Frame with obtained values
gender_demographic_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": average_purchase_price,
                                      "Total Average Purchse": average_purchase_total,
                                      "Average Purchase Per Person": average_purchase_per_person})
#provide index in top left as "Gender"

gender_demographic_df.index.name = "Gender"

#format with currency style
gender_demographic_df.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Average Purchse": "${:,.2f}",
                                     "Average Purchase Per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create the names for the four bins
bin_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_demographic_bins_df = purchase_data
age_demographic_bins_df["Age Summary"] = pd.cut(age_demographic_bins_df["Age"], age_bins, labels=bin_group)
age_demographic_bins_df



#Calculate the numbers and percentages by age group and Create a summary data frame to hold the results
age_demographic_bins_df2 = age_demographic_bins_df.groupby("Age Summary")
new_age_summary_df = pd.DataFrame(age_demographic_bins_df2.count())
new_age_summary_df["Purchase ID"] = (new_age_summary_df["Purchase ID"]/total_players)*100

#Formatting and round the percentage column to two decimal points
new_age_summary_df["Purchase ID"] = new_age_summary_df["Purchase ID"].map("{:,.2f}%".format)
summarized_by_age_df = new_age_summary_df[["Purchase ID", "SN"]]


# Display Age Demographics Table
Age_Demographic_Table = summarized_by_age_df.rename(columns={"SN":"Total Count", "Purchase ID":"Percentage of Players", })
Age_Demographic_Table

            Percentage of Players  Total Count
Age Summary
<10                         3.99%           23
10-14                       4.86%           28
15-19                      23.61%          136
20-24                      63.37%          365
25-29                      17.53%          101
30-34                      12.67%           73
35-39                       7.12%           41
40+                         2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Basic calculations to obtain purchase count

total_count_age = age_demographic_bins_df2["SN"].nunique()

purchse_count_by_age = age_demographic_bins_df2["Purchase ID"].count()
purchse_count_by_age

avg_Purchase_price_by_age = age_demographic_bins_df2["Price"].mean()
print(avg_Purchase_price_by_age)

Purchase_total_by_age = age_demographic_bins_df2["Price"].sum()

avg_Purchase_total_by_age = Purchase_total_by_age/total_count_age

#Create a summary data frame to hold the results
purchasing_analysis_by_age_df = pd.DataFrame({"Purchase Count": purchse_count_by_age,
                                              "Average Purchase Price": avg_Purchase_price_by_age,
                                              "Total Purchase Value": Purchase_total_by_age,
                                              "Average Purchase Total Per Person": avg_Purchase_total_by_age})
#give the displayed data cleaner formatting
purchasing_analysis_by_age_df.index.name = None

#Formatting
purchasing_analysis_by_age_df.style.format({"Average Purchase Price":"${:,.2f}",
                                            "Total Purchase Value":"${:,.2f}",
                                           "Average Purchase Total Per Person":"${:,.2f}"})
purchasing_analysis_by_age_df.style.format

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Run basic calculations to obtain the results in the table below
spenders = purchase_data.groupby("SN")
spenders_count = spenders["SN"].count()
Average_spenders_price = spenders["Price"].mean()
Spenders_total_purchase = spenders["Price"].sum()

#Create a summary data frame to hold the results
Top_spenders_df = pd.DataFrame({"Purchase Count": spenders_count,
                                "Average Purchase Price": Average_spenders_price,
                                "Total Purchase Value": Spenders_total_purchase})
# Sort the total purchase value column in descending order
Sortted_spenders_df = Top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
Sortted_spenders_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

Sortted_spenders_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
# Create new data frame and grouping by "Item ID"first, "then Item Name"
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_group = items.groupby(["Item ID","Item Name"])

# Perform calculations to obtain purchase count, average item price, and total purchase value
Item_count = item_group["Price"].count()
purchase_value = item_group["Price"].sum()
avg_item_price = item_group["Price"].mean()

# Create data frame with obtained values
Popular_item_df = pd.DataFrame({"Purchase Count": Item_count, "Item Price": item_price, 
                                "Total Purchase Value":purchase_value})

# Sort the purchase count column in descending order
sorted_item = Popular_item_df.sort_values(["Purchase Count"], ascending=False).head()

# Formatting Item price and Total purchase value 
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [52]:
#Sort the above table by total purchase value in descending order and a cleaner formatting
Most_profitable_df = sorted_item.sort_values(["Total Purchase Value"], ascending=False).head()
Most_profitable_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})