In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file = 'Resources/2016-FCC-New-Coders-Survey-Data.csv'

In [3]:
# Read with pandas
coders_df = pd.read_csv(file)
coders_df

FileNotFoundError: [Errno 2] File Resources/2016-FCC-New-Coders-Survey-Data.csv does not exist: 'Resources/2016-FCC-New-Coders-Survey-Data.csv'

In [4]:
# Inspect all columns
coders_df.columns

NameError: name 'coders_df' is not defined

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
Extracted_coders_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
Extracted_coders_df

NameError: name 'coders_df' is not defined

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns
Extracted_coders_df['AttendedBootcamp'] = Extracted_coders_df['AttendedBootcamp'].replace({0: "No", 1: "Yes"})
Extracted_coders_df.head()

<ipython-input-7-0943df9a7ac3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Extracted_coders_df['AttendedBootcamp'] = Extracted_coders_df['AttendedBootcamp'].replace({0: "No", 1: "Yes"})

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [9]:
# Calculate total number of respondents in survey
Extracted_coders_df["AttendedBootcamp"].value_counts()

No     14427
Yes      953
Name: AttendedBootcamp, dtype: int64

In [10]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = Extracted_coders_df.loc[Extracted_coders_df["AttendedBootcamp"] == "Yes"]
attended_bootcamp

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,1.0,1.0,1.0,NaN,1.0,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15.0,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,1.0,1.0,1.0,NaN,0.0,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10.0,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,1.0,1.0,0.0,21600.0,1.0,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24.0,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,0.0,NaN,0.0,NaN,0.0,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,0.0,5.0,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,1.0,1.0,0.0,36000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing

In [ ]:
# Calculate average age of attendees

# Calculate how many people attended a bootcamp

# Calculate how many attendees hold degrees

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

# Calculate percentage of respondents who attended a bootcamp

# Calculate percentage of respondents belonging to each gender

# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

In [ ]:
# Create a new table consolodating above calculations

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel